.pageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #6dd4ff;
    overflow: hidden;
    position: relative;
}
